
#main, #sidebar
	padding-top: 4em !important
	padding-bottom: 1em !important

#main
	width: 69% !important
	h2, h3
		font-size: 2em !important
		padding-bottom: .5em !important
		color: #7d8aa5 !important
		font-weight: 200 !important
	p a
		color: #7d8aa5 !important
#sidebar
	float: right !important
	width: 25% !important
	input[type="text"], input[type="password"]
		width: 12em !important
		font-size: .85em !important

	h4
		background: #5a5d60;
		border-radius: 5px;
		margin: 2em 0 .5em;
		padding: 0.5em;
		color: #ffffff !important
    a
    	color: #e5e8ed!important

#search
	width: 12em !important
	font-size: .85em !important


#main input[type="checkbox"]
	box-sizing: border-box;
	padding: 0;
	width 0.7em
	height 0.7em
	margin 0.15em
	border-radius 3px
	&:checked
		background #777571

#login_submit, #search_submit input, #submit_filter
	background: #e5e8ed !important
	border-radius: 5px !important
	color: #7d8aa3 !important
	display: block !important
	font-size: 1.1em !important
	position: relative !important
	font-size: 1em !important
	cursor: pointer !important
	border-radius: 3px !important
	padding: .5em !important

#login-form, #login-other, #sidebar ul
	margin-left: 0px !important

#login-form .input_submit
    float: left !important
    margin-top: .5em !important

#search_submit input
	margin-top: .5em !important

.tags-list a
	background: #f4f1ed !important
	color: #777571 !important
	border-radius: 3px !important
	display: inline !important
	padding: 0 .5em !important
